"*":
  "advanced-open-file":
    createFileInstantly: true
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
  "atomic-emacs": {}
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "#ff9300"
        borderColor: "#764502"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "recent-finder"
      "advanced-open-file"
      "atomic-emacs"
      "cursor-history"
      "indent-guide-improved"
      "linter-erb"
      "linter-rails-best-practices"
      "linter-ruby"
      "linter-ui-default"
      "narrow"
      "script"
      "language-php"
      "language-perl"
      "language-mustache"
      "language-less"
      "language-typescript"
    ]
    packagesWithKeymapsDisabled: [
      "emacs-plus"
    ]
    telemetryConsent: "no"
  "cursor-history":
    searchAllPanes: false
  editor:
    invisibles: {}
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "24c7c729-7d66-4419-858a-285696eca4e0"
  github: {}
  "vim-mode-plus":
    autoDisableInputMethodWhenLeavingInsertMode: true
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
